{% extends "base.html.j2" %}

{% block head %}
    {{ super() }}
    <meta charset="utf-8">
        <title>AIS history Norway</title>
        <link
            rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>
            <style>
                body {
                    padding: 0;
                    margin: 0;
                }
                html, body, #map {
                    height: 100%;
                    width: 100%;
                }
            </style>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
   		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/org-arl/leaflet-tracksymbol2/dist/leaflet-tracksymbol2.umd.js"></script>
{% endblock head %}

{% block content %}
     <div id="map"></div>
{% endblock content %}

{% block scripts %}
        <script>
            const kartverketAttr = '<a href="http://www.kartverket.no/">Kartverket</a>'
            const kystverketAttr = '<a href="http://www.kystverket.no/">Kystverket</a>'
            const kartverketUrl = 'https://opencache.statkart.no/gatekeeper/gk/gk.open_gmaps?layers={id}&zoom={z}&x={x}&y={y}'
            const topo2 = L.tileLayer(kartverketUrl, {id : 'topo4', attribution: kartverketAttr})
            const sjokart = L.tileLayer(kartverketUrl, {id : 'sjokartraster', attribution: kartverketAttr})

            const map = L.map('map', {
            	center: [59.824713, 10.456367],
            	zoom: 11,
            	layers: [topo2, sjokart]
            });

            const baseLayers = {
               	'Sjøkart' : sjokart,
            	'Topografisk' : topo2
            }

            L.control.layers(baseLayers).addTo(map)

            function toRadians(degs) {
                if ((degs === null) || (degs === undefined)) {
                    return undefined;
                }
                return degs * Math.PI / 180;
            }


            function track_2_popup(e) {
            	const popup = e.target.getPopup();
            	fetch("/api/tracks/" + e.target.options.mmsi.toString() + "/details")
                    .then(res => res.json())
                    .then(function(details) {
                        const ts = moment(e.target.options.timestamp).fromNow();
                        popup.setContent("<table>" +
                                "<tr><th>" + "mmsi" + "</th><td>" + e.target.options.mmsi.toString() + "</td></tr>" +
                                "<tr><th>" + "imo" + "</th><td>" + details.imo + "</td></tr>" +
                                "<tr><th>" + "name" + "</th><td>" + details.name + "</td></tr>" +
                                "<tr><th>" + "type" + "</th><td>" + details.type + "</td></tr>" +
                                "<tr><th>" + "flag" + "</th><td>" + details.flag + "</td></tr>" +
                                "<tr><th>" + "course" + "</th><td>" + e.target.options.course.toFixed(1) + "</td></tr>" +
                                "<tr><th>" + "heading" + "</th><td>" + e.target.options.heading.toFixed(1) + "</td></tr>" +
                                "<tr><th>" + "speed" + "</th><td>" + e.target.options.speed.toFixed(1) + "</td></tr>" +
                                "<tr><th>" + "last" + "</th><td>" + ts + "</td><td>" + "</td></tr>" +
                                "</table>")
                        popup.update()
                    })
                    .catch(function () {
                        alert("Failed to get details")
                    });
            }

            function whenClicked(e) {
                track_2_popup(e)
            	fetch("/api/tracks/" + e.target.options.mmsi.toString() + "/history")
                    .then(res => res.json())
                    .then(function(geojsonFeature) {
                  	    L.geoJSON(geojsonFeature).addTo(map);
                })
                .catch(function() {
                    alert("Failed to get history")
                });
            }

            function onEachFeature(feature, layer) {
                // does this feature have a property named popupContent?
                if (feature.properties && feature.properties.mmsi) {
                	layer.on({
                        click: whenClicked
                    });
                    layer.bindPopup("Loading " + feature.properties.mmsi);
                }
            }


            document.addEventListener('DOMContentLoaded', function () {
                fetch("/api/tracks")
                    .then(res => res.json())
                    .then(function (geojsonFeatures) {

                        geojsonFeatures.features.forEach(ship => {
                            var ts1 = new L.trackSymbol([ship.geometry.coordinates[1], ship.geometry.coordinates[0]], {
                                fill: true,
                                fillColor: 'yellow',
                                fillOpacity: 1,
                                heading: toRadians(ship.properties.heading),
                                course: toRadians(ship.properties.course),
                                speed: ship.properties.speed,
                                mmsi: ship.properties.mmsi,
                                timestamp: ship.properties.timestamp
                            });
                            ts1.bindPopup("Loading " + ship.properties.mmsi);
                            ts1.on('click', whenClicked);
                            ts1.bindTooltip("TrackSymbol1");
                            ts1.addTo(map);
                        });
                    	// L.geoJSON(geojsonFeatures, {
                    	// 	onEachFeature: onEachFeature,
                    	// 	attribution : kystverketAttr
                    	// }).addTo(map);
                    })
                    .catch(function() {
                        alert("Failed to get tracks")
                    });
            }, false);
        </script>
        {{ super() }}
{% endblock scripts %}
